<% if current_user.posts.first.present? %>
  <div class="row">
    <div class="post-index-area col-md-10 col-md-offset-1">
      <div class="row">
        <% @posts.where(user_id: current_user.id).each do |post| %>
          <p class="index-image-area col-md-3 col-md-offset-0 col-sm-6">
            <%= link_to post_path(post.id) do %>
              <%= image_tag(post.asset.image.url, class: "img-responsive", id: "post-image-index") %>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <!-- <div class="no-post">
    <p>投稿しましょう！</p>
  </div> -->
<% end %>
<div id="page_top"><a href="#"></a></div>
