
.background {
  width: 100vw; //view width ブラウザの横幅のナンパーセント
  height: 100vh; //view height ブラウザの横幅のナンパーセント
  position: relative;
  &__image {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size:cover;
    background-attachment: fixed;
    &__filter {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.4)
    }
  }
}

#above_content_signin {
  position: absolute;
  top: 10vh;
  text-align: center;
  width: 50vh;
  height: 450px ;
}

#above_content_signup {
  position: absolute;
  top: 6vh;
  text-align: center;
  // height: 630px ;

}

.jumbotron {
  background-color: rgba(255,255,255,0.4);
}

.field {
  margin-top: 20px;
}

.btn {
  margin-top: 20px;
}

.render-signin {
  margin-top: 20px;
}

.render-signup {
  margin-top: 20px;
}
