/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "reset";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "reset-bootstrap";
@import "background";
@import "./animation";
@import "./posts";
@import "./users";

html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  position: relative;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #f4f4f4;
  position: relative;
}

.header {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  height: 60px;
  left:0;
  position: sticky;
  top:0;
  width:100%;
  z-index:24;
}


.header i {
  padding-top: 17px;
  font-size: 1.4rem;
  padding-left: 20px;
  color: #7d7d7d;
}

.header p {
  padding-right: 12px;
  list-style: none;
  position: absolute;
}

.header li {
  float: right;
  padding-right: 12px;
  list-style: none;
  // position: absolute;
}

.jumbotron .alert {
  margin: 0 auto;
}

// .alert {
//   padding-top: 10px;
//   padding-bottom: 10px;
//   margin: 5px auto auto 5px;
//   width: 200px;
//   text-align: center;
// }

.alert {
  width: 100%;
  padding: 10px;
  opacity: 0.7;
  position: absolute;
  z-index: 1;
  margin-bottom: 0 !important;
  border: none !important;
  border-radius: none !important;
}

.alert p {
  padding-left: 15px;
}

.btn {
  font-weight: bold;
  letter-spacing: .1em;
}

strong, p, h2, h3, h4 {
  font-size: 1.2em;
  letter-spacing: .1em;
  line-height: 1.65;
}

#signup_title {
  font-size: 2.5em;
}

.container {
  height: 100%;
  position: relative;
  overflow: auto;
}

.user-show-background {
  height: 100%;
  position: relative;
  overflow: auto;
  background-color: white;
}

#title_image {
  margin-left: 10px;
  margin-top: 3px;
}

ul {
  list-style: none;
  padding-left: 0;
}

#page_top{
  width: 60px;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  margin: 0 15px 15px 0;
}

#page_top a{
  width: 60px;
  height: 60px;
  text-decoration: none;
}

#page_top a::before{
  font-family: FontAwesome;
  content: '\f139';
  font-size: 60px;
  color: #b9b9b9;
}
