// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-area {
  background-color: white !important;
  border-radius: 3px;
  magrin-top: 25px;
  padding-bottom: 20px
}

// .no-post {
//   text-align: center;
//   margin-top: 150px;
//   font-size: x-large;
// }

.field {
  padding-top: 10px !important;
}

.thing-field{
  margin-top: 0;
}

.submit-btn {
  float: right;
  margin-right: 25px;
}

.post-index-title {
  margin: 20px 0 25px 20px;
}

#image_prev {
  float: right;
}

#post-description {
  height: 100px;
}

#post_img {
  padding: 30px;
}

.post-area {
  background-color: white;
  border-radius: 3px;
  margin-top: 30px;
  padding: 30px 15px;
}

.post-area strong, .post-area p {
  font-size: 1.2em;
  letter-spacing: .1em;
  // line-height: 1.65;
}

.post-thing-area {
  margin-top: 10px;
  padding-left: 30px
  // border: solid;
}

.post-place-area {
  margin-top: 10px;
  padding-left: 30px;
  // border: solid;

}

.post-description-area {
  margin-top: 10px;
}

#post-image-show {
  border-radius: 3px;
  width: 400px;
  height: 400px;
}

.post-show-map {
  border-radius: 3px;
  width: 400px;
  height: 400px;
  // margin-top: 20px;
}

.post-action-btns {
  margin-top: 30px;
}

.post-action-btns .btn {
  margin-left: 0;
}

.post-index-area {
  background-color: white;
  padding-left: 0;
  padding-top: 15px;
  padding-right: 15px;
  margin-top: 30px;
  border-radius: 3px;
}

.post-form-title {
  letter-spacing: .1em;
  line-height: 1.65;
  font-weight: bold;
  margin-top: 20px;
  margin-left: 5px;
  font-weight: bold;
}

#post-image-index {
  // width: 250px;
  // height: 250px;
  border-radius: 3px;
  border: solid;
  border-width: thin;
  border-color: #f3f3f3;
}

.index-image-area {
  padding-right: 0;
}

.img-responsive {
  min-width: 100% ;
}
