.user-profile {
  margin-bottom: 30px;
}

.sign_in_menu {
  // width:50%;
}

.user-form-area {
  background-color: white !important;
  border-radius: 3px;
  padding-bottom: 30px;
  margin-top:30px;
}

.user-image-area {
  margin: 30px 0 0 30px;
}

#user_img_prev {
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
   border-radius: 75px;
}

#user_profile_image {
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
   border-radius: 75px;
}

.user-submit-btn {
  float: right;
  margin-bottom: 30px;
  margin-right: 15px;
}

.back-btn {
  float: right;
  margin-right: 15px;
}

.user-name {
  font-weight: bold;
  margin: 25px 25px 25px 0;
  font-size: 2.2em
}

.introduction {
  min-height: 150px;
  line-height: 1.5;
  width: 600px;
}

.place-space {
  margin-top: 25px;
}

.user-show {
  background-color: white;
}

.edit-user-btn, .edit-password-btn {
  margin-top: 40px;
  margin-right: 5px;
  width: 180px;
  float: right;
}

.sign_in_menu p {
  width: 80%;
}

.render-signup, .render-signin {
  margin-bottom:30px;
}

.user-registration-edit {
  background-color: white;
  margin-top: 30px;
  border-radius: 3px;
  padding-bottom: 30px;
  position: relative;
}

.user-registration-edit-btns {
  float: right;
  margin-right: 30px;
  margin-top: 35px;
}

.user-registration-submit-btn {
  margin-right: 13px;
}

.user-delete-area {
  background-color: white;
  border-radius: 3px;
  padding-bottom: 30px;
}

.user-delete {
  text-align: center;
}
